/*
<?php
header('Content-type: text/css');
?>
*/
/*
*,body, * * { background: #229 !important;
	color: #ff3 ;
}
*/
body, * { background: #229 !important;
	color: #ff3 ;
}
body * { background: unset;
	color: unset ;
}

/*
 http://www.mo57.ru
*/
#wowslider-container1 {display:none !important;}