@font-face {
    font-family: 'Alexander';
    src: local('Alexander'), url('/css/fonts/alexander/alexander.woff2') format('woff2'), url('/css/fonts/alexander/alexander.woff') format('woff'), url('/css/fonts/alexander/alexander.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
