AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>

RewriteEngine On

# kpa-ing.ru
RewriteCond %{HTTP_HOST} ^.*kpa-ing\.ru$ [NC]
RewriteRule ^(.*)$ https://js-master.ru/$1 [R=301,L,QSA]

# etual-crimea.ru
# ?
# RewriteCond %{HTTP_HOST} ^.*etualcrimea\..+\.ru$ [OR,NC]
RewriteCond %{HTTP_HOST} ^.*etualcrimea\..+ [OR,NC]
RewriteCond %{HTTP_HOST} ^.*etual-crimea\.ru$ [NC]
RewriteRule ^(.*)$ https://etual-crimea.ru/$1 [R=301,L,QSA]

# Универсальный редирект с www
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]



## Begin - Exploits
# If you experience problems on your site block out the operations listed below
# This attempts to block the most common type of exploit `attempts` to Grav
#
# Block out any script trying to base64_encode data within the URL.
# RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
# Block out any script that includes a <script> tag in URL.
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL.
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL.
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Return 403 Forbidden header and show the content of the root homepage
RewriteRule .* index.php [F,L]
#
## End - Exploits


# # Begin - Index
# # If the requested path and file is not /index.php and the request
# # has not already been internally rewritten to the index.php script
# # RewriteCond %{REQUEST_URI} !^/index\.php
# # and the requested path and file doesn't directly match a physical file
# RewriteCond %{REQUEST_FILENAME} !-f
# # # and the requested path and file doesn't directly match a physical folder
# RewriteCond %{REQUEST_FILENAME} !-d

# # internally rewrite the request to the index.php script
# RewriteRule .* index.php [L]
# ## End - Index


## Begin - Security
# Block all direct access for these folders
RewriteRule ^(cgi-bin)/(.*) error [F,L]
# |php
## End - Security

# ЧПУ
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(content.+)/($|\?) index.php?page=$1 [L]
# RewriteRule (content.+)/($|\?) index.php?page=$1 [L]
# RewriteRule ^(.+)/($|\?) index.php?page=$1 [L]

# BAN domains
# (urmsosh-komsml|shigsosh-batyr|3izbshem-shemur|chemur-rcheb|sosh8-gkan|sosh5-nowch|obrazov-yaltch)\.edu21\.cap
RewriteCond %{HTTP_REFERER} ^https?://(www\.)?(((sch46-saratov|mdou26kms|mydetsad18)\.ucoz|.+\.edu21\.cap|gluhovskaya|lotos-med24|bugrovka4|azovo-school|school16\.mmc24421\.cross-edu|shipskazka|vrsport\.hostedu|uproviaz|licei39)\.ru|(oo875|uglscool)\.edu22\.info|(xn----7sbbdrrbdnopdaeif6gsbl1joc.xn--55-jlcd8a)\.xn--p1ai) [NC]
RewriteRule .* error [F,L]
</IfModule>


# Begin - Prevent Browsing and Set Default Resources
Options -Indexes +ExecCGI +FollowSymLinks
DirectoryIndex index.php index.html index.htm
php_value short_open_tag 1

# 4 UniServer
AddHandler cgi-script .pl .cgi


RemoveHandler .html .htm
AddType application/x-httpd-php .php .htm .html
# End - Prevent Browsing and Set Default Resources

## Error pages
ErrorDocument 400 /templates/errorpages/400.htm
ErrorDocument 401 /templates/errorpages/401.htm
ErrorDocument 403 /templates/errorpages/403.htm
ErrorDocument 404 /templates/errorpages/404.htm
ErrorDocument 500 /templates/errorpages/500.htm
## / Error pageses

# Time Belt
<IfModule env_module>
SetEnv TZ Europe/Moscow
</IfModule>
#date_default_timezone_set ('Europe/Moscow')