aside .tabsitem {
	margin-right: 1em;
	cursor: pointer;
	display: inline-block;
	padding: .5rem 1rem;
	border-bottom: 1px transparent;
}
aside .tabsitem:hover {
	background: #eee;
}
aside .tabsitem.active {
	font-weight: 700;
	/* text-decoration: underline; */
	/* color: #0055c5; */
	/* border-left: 3px solid #05b; */
}
aside #tabsBlock {
	position: relative;
	background: inherit;
	border: #eee 1px solid;
}
aside #tabsBlock::after {
	content: '▼';
	padding-left: 1em;
	right: .5em;
	position: absolute;
	top: .5em;
	color: #ccc;
}
aside #tabsBlock ul {
	position: absolute;
	background: #fff;
	top: 100%;
	box-shadow: 0 0 .25rem rgba(0,0,0,.1);
}

aside #contentBlock {
	height: 300px;
	overflow-y: auto;
}
nav li {
	line-height: 150%;
}

nav a.active {
	position: relative;
	/* border-left: 3px solid #aaa; */
}
nav a.active::before {
	content: '';
	display: block;
	border: 2px solid #aaa;
	height: 150%;
	width: 0;
	left: -.3em;
	top: -25%;
	position: absolute;
}


/* Scroll */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* button */
::-webkit-scrollbar-button {
	background: #234;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Track */
::-webkit-scrollbar-track {
	background: #aaa;
}

/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
	background: #000;
}

/* Corner */
::-webkit-scrollbar-corner {
	background: #999;
}

/* Resizer */
::-webkit-resizer {
	background: #111;
}